@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link href='/lib/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='/lib/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href="~/lib/fullcalendar/timegrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/list/main.css" rel="stylesheet" />

}
<div id="calendar">
</div>

@section Scripts{
    <script src="~/lib/fullcalendar/core/main.js"></script>
    <script src="~/lib/fullcalendar/daygrid/main.js"></script>
    <script src="~/lib/fullcalendar/timegrid/main.js"></script>
    <script src="/lib/fullcalendar/core/locales/tr.js"></script>
    <script src="~/lib/fullcalendar/list/main.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarE1 = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarE1, {
                plugins: ['dayGrid', 'timeGrid', 'list'],
                locale: 'tr',
                header: {
                    left: 'prev, next, today, getDate',
                    center: 'title',
                    right: 'dayGridMonth, timeGridWeek, timeGridDay, listWeek'//timeGridFourDay
                    //listDay, listWeek, listMonth, listYear
                },
                footer: {
                    left: 'prevYear',
                    right: 'nextYear'
                },
                slotDuration:'00:15:00',
                slotLabelInterval:'00:15:00',
                minTime:'08:00:00', //mesai saati başlama saatinden başlattım.
                maxTime:'17:00:00', //mesai saati bitiminde bitirdim.
                fixedWeekCount:false,
                showNonCurrentDates:false,
                slotLabelFormat: {
                hour:'numeric',
                minute:'2-digit'
                },
                //handleWindowResize: true,
                //aspectRatio:1.4,
                /* firstDay:0, */ //pazardan başlayacak şekilde 0, 1, 2 şeklinde devam eder.
                contentHeight:470,                
                defaultView: 'dayGridMonth',
                weekends: false, // true yaparsak haftasonlarını dahil ederiz.
                allDaySlot: false,                
                titleFormat: {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric'
                },
                titleRangeSeparator: '-',
                columnHeaderFormat: {
                    // month:'numeric',                    
                    // day:'numeric'
                    weekday: 'long',
                },
                // views: {
                //     timeGridForFourDay: {
                //         type: 'timeGrid',
                //         dayCount: 4,
                //         buttonText: '4 Gün'
                //     }
                // },
                // buttonText: {
                //     today:'Bugün',
                //     month:'Ay ve ay',
                //     week:'Haftalar hafta',
                //     day:'gün ve gün'
                // },
                customButtons: {
                    getDate: {
                        text: 'date',
                        click: function () {
                            var date = new Date();
                            alert(date);
                        }
                    }
                }
                
                
                 
            });
            calendar.render();
        });

    </script>
}